<Template name="backsterDisplay">
  <div id="backster-display-wrapper">
    <div id="image-container">
		<img id="backster-image" src="Backster_0D.png"/>
	</div>
  
    <div id="scale-container">
      <div id="bcf-scale-container">
	    <div id="rectangle1">
	      
	    </div>
	    <div id="rectangle2">
	      
	    </div>
	    <div id="rectangle3">
	      
	    </div>
	    <div id="rectangle4">
	      
	    </div>
	    <div id="rectangle5">
	      
	    </div>
	    <div id="rectangle6">
	      
	    </div>
	    <div id="rectangle7">
	      
	    </div>
	  </div>
	  <div id="bcs-scale-container">
	    <div id="rectangle1">
	      
	    </div>
	    <div id="rectangle2">
	      
	    </div>
	    <div id="rectangle3">
	      
	    </div>
	    <div id="rectangle4">
	      
	    </div>
	    <div id="rectangle5">
	      
	    </div>
	    <div id="rectangle6">
	      
	    </div>
	    <div id="rectangle7">
	      
	    </div>
	  </div>
    </div>
   </div>
</Template>