<Template name="backsterDisplay">
  <div id="backster-display-wrapper">
    	<div class="slider">

      <div class="slide">
	  
            <div class="slide-img col-xs-7">
              <img src="Backster_0D.png" width="250px">
            </div>
         
      </div>

      <div class="slide">
        
            <div class="col-xs-7">
              <a href="#"><img src="Backster_22.5D.png" width="250px"></a>
             </div>
            
              
      </div> 

      <div class="slide">

            
            <div class="slide-img col-xs-7">
              <img src="Backster_45D.png" width="250px">
            
        </div>      
      </div> 


      <div class="slide">
        
            <div class="slide-img col-xs-7">
              <img src="Backster_90D.png" width="250px">
            </div>
               
      </div> 

	    </div>
	
	
	<div class="slider-nav">
      <a href="#" class="arrow-prev"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-prev.png"></a>
      <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
      </ul>
      <a href="#" class="arrow-next"><img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/arrow-next.png"></a>
    </div> 
  
    <div id="scale-container">
      <div id="bcf-scale-container">
	    <div id="rectangle1">
	      
	    </div>
	    <div id="rectangle2">
	      
	    </div>
	    <div id="rectangle3">
	      
	    </div>
	    <div id="rectangle4">
	      
	    </div>
	    <div id="rectangle5">
	      
	    </div>
	    <div id="rectangle6">
	      
	    </div>
	    <div id="rectangle7">
	      
	    </div>
	  </div>
	  <div id="bcs-scale-container">
	    <div id="rectangle1">
	      
	    </div>
	    <div id="rectangle2">
	      
	    </div>
	    <div id="rectangle3">
	      
	    </div>
	    <div id="rectangle4">
	      
	    </div>
	    <div id="rectangle5">
	      
	    </div>
	    <div id="rectangle6">
	      
	    </div>
	    <div id="rectangle7">
	      
	    </div>
	  </div>
    </div>
   </div>
</Template>