html, body{
	border-top: 0 !important;
	margin-top: 0 !important;
}

h1 {
	border-top: 0 !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
	color:#FFFFFF !important;
	background-color: transparent;
	font-size: 36px;
}

label {
	font-size: 18px;
	padding-top: 16px;	
}

img {
	margin: 18px 0;
}

.container {
	border: 0;
	margin: 0;
	padding: 0;
}

.jumbotron {
	background-color:#4D4D4D;
	background-image: url(footer_lodyas.png);
	text-shadow: 0.2px 0.2px 0.3px black;
}

.form-group > * {
	margin-top: 6px;
	margin-bottom: 6px;
}

.btn-margin {
	margin-top: 6px;
	margin-bottom: 6px;
}

.carousel {
	background-color: #333333;
	border-radius: 5px;
	width: 85%;
}

.carousel-control {
	border-radius: 5px;	
}

.display-wrapper {
	margin: 0 auto;
	width: 75%;
}



/*carousel fade effect*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}