html, body{
	border-top: 0 !important;
	margin-top: 0 !important;
}

h1 {
	border-top: 0 !important;
	margin-top: 0 !important;
	padding-top: 0 !important;
	color:#FFFFFF !important;
	background-color: transparent;
	font-size: 36px;
}

label {
	font-size: 18px;
	padding-top: 16px;	
}

img {
	margin-top: 15px;
	margin-bottom: 40px;
}

.container {
	border: 0;
	margin: 0;
	padding: 0;
}

.jumbotron {
	background-color:#4D4D4D;
	background-image: url(footer_lodyas.png);
	text-shadow: 0.2px 0.2px 0.3px black;
}

.form-group > * {
	margin-top: 6px;
	margin-bottom: 6px;
}

.btn-margin {
	margin-top: 6px;
	margin-bottom: 6px;
}

.carousel {
	background-color: #333333;
	border-radius: 5px;
	width: 85%;
}

.carousel-control {
	border-radius: 5px;	
}

.display-wrapper {
	margin: 5px auto;
	width: 75%;
}

/*carousel fade effect*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.scale-rectangle1 {
	height: 35px;
	width: 68px;
	margin: 0 -2px;
	background-color: rgb(0,61,124);
	border-color: green;
	display: inline-block;
}

.scale-rectangle2 {
	height: 35px;
	width: 68px;
	margin: 0 -2px;
	background-color: rgb(0,77,157);
	display: inline-block;
}

.scale-rectangle3 {
	height: 35px;
	width: 68px;
	margin: 0 -2px;
	background-color: rgb(0,85,165);
	display: inline-block;
}

.scale-rectangle4 {
	height: 35px;
	width: 68px;
	margin: 0 -2px;
	background-color: rgb(0,94,190);
	display: inline-block;
}

.scale-rectangle5 {
	height: 35px;
	width: 68px;
	margin: 0 -2px;
	background-color: rgb(0,108,220);
	display: inline-block;
}

.scale-rectangle6 {
	height: 35px;
	width: 68px;
	margin: 0 -2px;
	background-color: rgb(0,126,255);
	display: inline-block;
}

#bcf-rectangle1 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: green;
	background-color: transparent;
	display: none;
}

#bcf-rectangle2 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: green;
	background-color: transparent;
	display: none;
}

#bcf-rectangle3 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: yellow;
	background-color: transparent;
	display: none;
}

#bcf-rectangle4 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: yellow;
	background-color: transparent;
	display: none;
}

#bcf-rectangle5 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: red;
	background-color: transparent;
	display: none;
}

#bcf-rectangle6 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: red;
	background-color: transparent;
	display: none;
}

#bcs-rectangle1 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: green;
	background-color: transparent;
	display: none;
}

#bcs-rectangle2 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: green;
	background-color: transparent;
	display: none;
}

#bcs-rectangle3 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: yellow;
	background-color: transparent;
	display: none;
}

#bcs-rectangle4 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: yellow;
	background-color: transparent;
	display: none;
}

#bcs-rectangle5 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: red;
	background-color: transparent;
	display: none;
}

#bcs-rectangle6 {
	height: 100%;
	width: 100%;
	border: 4px solid;
	border-color: red;
	background-color: transparent;
	display: none;
}