<head>
<title>Backster</title>
<link href="backster.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrapper">
  <div id="main-container">
    <header>
      <img id="banner-background" src="banner-background.png" alt="Backster"/>
      <img id="banner-text" src="banner-text.png" alt="Backster"/>
    </header>
    <div id="column-container">
	  <img id="content-background" src="background.png"/>
      <div id="column-left">
		{{> backsterDisplay}}
      </div>
      <div id="column-right">
		{{> inputForm}}
      </div>
    </div>
  </div>
  <div id="copyright-container">
    <h1>2015 Backster.</h1>
    <h1>All right reserved.</h1>
  </div>
</div>
</body>