<Template name="inputForm">
  <h2 class="text-center">Personal Characteristics:</h2>
  <form role="form-horizontal" id="input-form" autocomplete="off">
    <div class="form-group form-group-lg">
    <label class="col-md-3 control-label">Gender:</label>
    <div class="col-md-9">
      <select class="form-control" name="gender">
      <option>Male</option>
      <option>Female</option>
      </select>
    </div>
    </div>

    <div class="form-group form-group-lg">
    <label class="col-md-3 control-label">Height:</label>
    <div class="col-md-3">
      <select class="form-control" data-toggle="tooltip" title="Select ft" name="heightFeet">
        <option>0'</option>
        <option>1'</option>
        <option>2'</option>
        <option>3'</option>
        <option>4'</option>
        <option selected>5'</option>
        <option>6'</option>
        <option>7'</option>
        <option>8'</option>
        <option>9'</option>
      </select>
      </div>

      <div class="col-md-6 right-column">
      <select class="form-control" data-toggle="tooltip" title="Select inches" name="heightInches">
        <option>0''</option>
        <option>1''</option>
        <option>2''</option>
        <option>3''</option>
        <option>4''</option>
        <option>5''</option>
        <option>6''</option>
        <option>7''</option>
        <option>8''</option>
        <option selected>9''</option>
        <option>10''</option>
        <option>11''</option>
      </select>
      </div>
    </div>

    <!--<div class="form-group form-group-lg">
    <label class="col-md-3 control-label">Angle:</label>
    <div class="col-md-9">
      <select class="form-control" data-toggle="tooltip" title="Angle of bend about the waist." name="angle">
      <option>0.0 degrees</option>
      <option>22.5 degrees</option>
      <option>45.0 degrees</option>
      <option>67.5 degrees</option>
      <option>90.0 degrees</option>
      </select>
    </div>
  </div>-->

    <div class="form-group form-group-lg">
    <label class="col-md-3 control-label">Bodyweight:</label>
    <div class="col-md-9">
      <input class="form-control" placeholder="Enter your bodyweight (lbs)" name="weightInput"/>
    </div>
    </div>

    <div class="form-group form-group-lg">
    <label class="col-md-3 control-label">Load:</label>
    <div class="col-md-9">
      <input class="form-control" placeholder="Enter weight of load (lbs)" name="loadInput"/>
    </div>
    </div>

    <div class="form-group form-group-lg">
    <label class="col-md-3 control-label">Distance:</label>
    <div class="col-md-9">
      <input class="form-control" placeholder="Enter horizontal distance (inches)" name="distanceInput"/>
    </div>
    </div>

    <div class="text-center">
      <div class="btn-group">
      <input type="submit" value="Calculate Stress" class="btn btn-primary btn-lg btn-margin"/>
      <input type="button" value="Save Results" id="export-file" class="btn btn-primary btn-lg btn-margin export-file"/>
      </div>
    </div>

    <input name="angle" id="input-angle" type="hidden" value="0">
  </form>

  <div class="display-wrapper">
    <div class="bcf-wrapper">
      <label>Back-Compressive Force = </label>
      <label id="displayBCF">0.00</label>
    <label>lbs</label>
    </div>

    <div class="bcs-wrapper">
      <label class="center-text">Back-Compressive Stress = </label>
    <label id="displayBCS">0.00</label>
    <label>lbs/sq-inch</label>
    </div>
  </div>
</Template>
