form {
	margin: 1em auto;
}

table{
	height: auto;
	width: auto;
	margin: 0 auto;
	border-spacing: .85em;
}

input {

	font-size: 14pt;
}

select {
	font-size: 14pt;
}

#buttonContainer {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin: 1em auto;
	text-align: center;
}

#submitButton {
	position: relative;
	margin: 0 auto;
	width: 10em;
}